@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f5f5;
    @apply bg-no-repeat bg-cover bg-center bg-clip-border bg-fixed bg-origin-border;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a202c;
    }
}

body[data-theme="dark"] {
    background-color: #1a202c;
    color: #fff;
}
